{{>ezenweb/header}}
    <div class="container">
       <h3> 게시판 </h3>
       <button type="button"> <a href="/board/write" style="font-size:20px;">글쓰기</a></button><br/>


        전체 페이지 수 : <span class="totalPage"></span>
        전체 게시물 수 : <span class="totalBoardSize"></span>






<!--        부트스르랩에서 복사해온 테이블 -->
        <table class="table table-striped table-hover">
            <thead>
            <tr>
                <th scope="col" style="width:5%">번호</th>
                <th scope="col" style="width:60%">제목</th>
                <th scope="col" style="width:15%">작성자</th>
                <th scope="col" style="width:15%">작성일</th>
                <th scope="col" style="width:5%">조회수</th>
            </tr>
            </thead>
            <tbody id="boardTableBody">
<!--            <tr>-->
<!--                <th >1</th>-->
<!--                <td >Mark</td>-->
<!--                <td >유재석<img src="/img/logo.png" style="width:20px; border-radius:50%;"/></td>-->
<!--                <td >2024-03-05 11:00:30</td>-->
<!--                <td >@mdo</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th scope="row">2</th>-->
<!--                <td>Jacob</td>-->
<!--                <td>Thornton</td>-->
<!--                <td>@fat</td>-->
<!--                <td>@fat</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <th scope="row">3</th>-->
<!--                <td colspan="2">Larry the Bird</td>-->
<!--                <td>@twitter</td>-->
<!--                <td>@twitter</td>-->
<!--            </tr>-->
            </tbody>
        </table>
        <select class="pageBoardSize" onchange="onPageBoardSize( this )">
            <option value="5">5개씩 보기</option>
            <option value="10">10개씩 보기</option>
            <option value="15">15개씩 보기</option>
        </select>
        <br/><br/>
        <div class="boardCategoryBox">
            <button class="boardBtn categoryActive" onclick="onBcno(0)" type="button">전체보기</button>
            <button class="boardBtn" onclick="onBcno(1)" type="button">자유</button>
            <button class="boardBtn" onclick="onBcno(2)" type="button">노하우</button>
        </div>
        <br/>
        <div> <!-- 검색 창 -->
            <select  class="key"> <!-- 검색 키 : SQL 검색시 사용할 필드명 -->
                <option value="b.btitle">제목</option>
                <option value="b.content">내용</option>
                <option value="m.id">작성자</option>
            </select>
            <input class="keyword"/> <!-- 검색 키워드 : SQL 검색시 사용할 필드의 값 -->
            <button class="boardBtn" type="button" onclick="onSearch()">검색</button>
        </div>
        <br/>

<!--    부트스트랩에서 복사해온 페이지네이션 (정렬)    -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
<!--                <li class="page-item"><a class="page-link" href="#">이전</a></li>-->
<!--&lt;!&ndash;                하이퍼 링크 없애고 onclick 으로 페이지네이션 페이지들 구현&ndash;&gt;-->
<!--                <li class="page-item"><a class="page-link" onclick="doViewList(1)">1</a></li>-->
<!--                <li class="page-item"><a class="page-link" onclick="doViewList(2)">2</a></li>-->
<!--                <li class="page-item"><a class="page-link active" onclick="doViewList(3)">3</a></li>-->
<!--                <li class="page-item"><a class="page-link" href="#">다음</a></li>-->
            </ul>
        </nav>
    </div>
<script src="js/board/board.js"></script>
{{>ezenweb/footer}}