{{>layouts/header}} <!-- 헤더 파일 호출 -->
<table border="1">
    <thead>
    <tr>
        <th> ID </th>
        <th> Title </th>
        <th> Content </th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <!--            모델의 키 값               -->
        <!--        <tr>-->
        <!--            <td> (샘플)1 </td>-->
        <!--            <td> (샘플)안녕하세요 </td>-->
        <!--            <td> (샘플)하하하하하 </td>-->
        <!--        </tr>-->
        <tr>
            <td>{{id}}</td>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
        <!--   #,/article말고  또는 articleList.id , articleList.title 도 사용 가능 -->

    {{/articleList}}

    </tbody>
</table>
<a href="/articles/new">글쓰기(New Article)</a>
<!-- a 태그는 무조건 get 방식 GetMapping과 연결됨. -->
{{>layouts/footer}} <!-- 푸터 파일 호출 -->